body {
    margin: 0;
    padding: 0;
}
.header {
    margin-left: 121px;
    margin-right: 105px;
    overflow: hidden;
}
.genel {
    background: url("../images/background.png");
    width: 100%;
    height: 100%;
}
.logo {
    width: 55px;
    height: 55px;
    float: left;
    margin-left: 50px;
    margin-top: 21px;
}
.link {
    text-decoration: none;
    color: #FFFFFF;
}
.liste-elemani {
    list-style-type: none;
    float: left;
    margin: 43px 10px 43px 10px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.liste {
    margin: 0px 0px 0px 146px;
}
.link-2 {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0px 0px 0px 178px;
}
.xbox {
    float: left;
    margin-top: 42px;
    margin-left: 45px;
}
.steam {
    float: left;
    margin-top: 39px;
    margin-left: 17px;
}
.main-baslik {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    margin: 150px 0px 0px 0px;
}
.main-metin {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    margin: 0px 0px 20px 0px;
}
.base {
    display: block;
    color: #1A1917;
    text-decoration: none;
    float: left;
    margin: 28px 0px 0px 470px;
    background: #FFB548;
    width: 250px;
    height: 30px;
    text-align: center;
    padding:20px 5px 9px 21px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
}
.main {
    overflow: hidden;
}
.dolar {
    padding: 0px 0px 0px 40px;
    font-weight: 700;
    font-size: 16px;
}